@import "../../base/theme/fn";

.weui-uploader__file {
  position: relative;
}

.weui-uploader__input-box.weui-uploader__input-box_disabled {

  &::before,
  &::after {
    background-color: #d3d3d3;

    .dark({
      background-color: #3d3d3d;
    });
  }
}

.weui-uploader__file-opr {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1px 2px;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;

  .weui-icon-close {
    height: 16px;
    width: 16px;
    vertical-align: initial;
  }
}

.weui-cells__group_form .weui-uploader__file-content .weui-icon-warn {
  display: inline-block;
}
